<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lista de eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
      <ion-item-divider>
          <ion-label>
            Evento
          </ion-label>
        </ion-item-divider>
        
    <ion-item *ngFor="let item of evento">
      {{item.app}}
      <div  class="item-note" slot="end">
        {{item.comando}}
      </div>
      <div class="item-note" slot="end">
          <ion-button color="tertiary" (click)="editarEvento(item.app, item.comando)">Editar</ion-button>
        </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
